<table
	style="
		width: 100%;
		border-collapse: collapse;
		border-top: 1px dashed rgba(0, 0, 0, 0.3);
		border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
	"
>
	<tbody>
		<% skills.forEach((skill, index) => { %>
		<tr
			style="<%= index < skills.length - 1 ? 'border-bottom: 1px dashed rgba(0,0,0,0.3);' : '' %>"
		>
			<td
				style="
					width: 28%;
					font-weight: bold;
					vertical-align: top;
					padding: 0.6em 1.5em 0.6em 0;
					text-align: left;
				"
			>
				<%= skill.name || '' %>
			</td>
			<td
				style="
					width: 68%;
					vertical-align: top;
					padding: 0.6em 0;
					font-size: 0.9em;
					text-align: left;
				"
			>
				<%= (skill.keywords || []).join(', ') %>
			</td>
		</tr>
		<% }) %>
	</tbody>
</table>
