<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1em;">
  <div style="flex: 0 0 20%; text-align: left;">
    <div style="font-size: 1.2em;">{{= phone ?></div>
    <div>{{= location ?></div>
    <a href="mailto:{{= email ?>">{{= email ?></a>
  </div>
  <div style="flex: 0 0 60%; text-align: center;">
    <h1 style="font-size: 2em; margin: 0;">{{= name ?></h1>
    <div style="margin-top: 0.5em;">{{= title ?></div>
  </div>
  <div style="flex: 0 0 20%; text-align: right;">
    <a href="https://github.com/{{= github ?>">GitHub: {{= github ?></a><br>
    <a href="https://www.linkedin.com/in/{{= linkedin ?>">LinkedIn: {{= linkedin ?></a>
  </div>
</div>